<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--<servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--<servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>-->
    <servlet>
        <servlet-name>S1</servlet-name>
        <servlet-class>com.sn.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S1</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>S7</servlet-name>
        <servlet-class>com.sn.servlet.AboutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S7</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>S8</servlet-name>
        <servlet-class>com.sn.servlet.PhoneNoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S8</servlet-name>
        <url-pattern>/phoneNo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>S9</servlet-name>
        <servlet-class>com.sn.servlet.ChangeNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S9</servlet-name>
        <url-pattern>/name</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>S11</servlet-name>
        <servlet-class>com.sn.servlet.UploadPhotoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S11</servlet-name>
        <url-pattern>/photo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>S12</servlet-name>
        <servlet-class>com.sn.servlet.EditEducationInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S12</servlet-name>
        <url-pattern>/edu</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>S13</servlet-name>
        <servlet-class>com.sn.servlet.EditWorkInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S13</servlet-name>
        <url-pattern>/work</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>S14</servlet-name>
        <servlet-class>com.sn.servlet.UpdateNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S14</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>S15</servlet-name>
        <servlet-class>com.sn.servlet.UploadFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S15</servlet-name>
        <url-pattern>/file</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>S16</servlet-name>
        <servlet-class>com.sn.servlet.RemoveFriendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S16</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>S6</servlet-name>
        <servlet-class>com.sn.servlet.ChatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S6</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>S5</servlet-name>
        <servlet-class>com.sn.servlet.LoadDatabase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S5</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>S3</servlet-name>
        <servlet-class>com.sn.servlet.TestData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S3</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>S2</servlet-name>
        <servlet-class>com.sn.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S2</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>S4</servlet-name>
        <servlet-class>com.sn.servlet.AddFriendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S4</servlet-name>
        <url-pattern>/addFriend</url-pattern>
    </servlet-mapping>
    <!--<welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>-->
</web-app>
